# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.idea/.name
*.pyc
.idea/workspace.xml
.idea/vcs.xml
.idea/scopes/scope_settings.xml
.idea/modules.xml
.idea/misc.xml
.idea/jsLibraryMappings.xml
.idea/GameCollection.iml
.idea/encodings.xml
.idea/dictionaries/david_wilson.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/Generated_files.xml
.idea/watcherTasks.xml
Tests/__pycache__/TestGamesInteractor.cpython-34.pyc
Tests/__pycache__/TestGamesInteractor.cpython-34.pyc
UI/__pycache__/WebServer.cpython-34.pyc
Tests/__pycache__/TestGamesInteractor.cpython-34.pyc
sessions/*