{%extends 'master.html'%}
{%block content%}
    <h1>{{title}}</h1>

    {% include 'status.html' %}
    <form class="form-horizontal" role="form" method="post" action="" id="gameform">

        <div class="row">

			 {{ column('5', text_field('title', 'Title', '', 'Title')) }}
			 {{ column('2') }}

			 <div class="col-sm-5">
				<div class="form-group">
              <label for="platform">Platform</label>
				  
              <select class="form-control" id="platform" name="platform" required="required">
                {% for platform in platforms %}
                <option value="{{platform.name}}">{{platform.name}}</option>
                {% endfor %}
              </select>
            </div>
			 </div>
        </div>

        <div class="row">

			 {{ column('2', number_field('numcopies', 'Copies', '1')) }}
          {{ column('1') }}
			 {{ column('2', number_field('numboxed', 'Boxes', '0')) }}			 
          {{ column('1') }}
			 {{ column('2', number_field('nummanuals', 'Manuals', '0')) }}
			 {{ column('2') }}

			 <div class="col-sm-2">
             <div class="form-group">
               <label for="datepurchased">Date Purchased</label>
               <input id="datepurchased" name="datepurchased" type="text" class="picker form-control" />
               <div class="checkbox">
                 <label>
                   <input name="approximatepurchaseddate" id="approximatepurchaseddate"
                          type="checkbox"  />
                   Approximate date</label>
               </div>
             </div>
			 </div>
        </div>

		  <div class="row">
			 <div class="col-sm-4">
				<div class="form-group">
				  <label for="genre">Genre</label>
				  <select name="genre" id="genre" class="form-control">
					 <option value="" />
					 {% for genre in genres %}
					 <option value="{{genre.name}}">{{genre.name}}</option>
					 {% endfor %}
				  </select>
				</div>
			 </div>
		  </div>
		  
		  {{ row([column('12', notes(''))]) }}

        <div class="row">
          <div class="form-group col-sm-3">
            <input type="button" class="btn btn-primary" value="Save" onclick="saveGame();return false;" />
            <input type="button" class="btn" value="Cancel" onclick="cancelEdit();" />
          </div>
        </div>
    </form>

	 {% endblock %}
	 
