{%extends 'master.html'%}
{%block content%}
    <form class="form-horizontal" method="post" action="savegame">
                <div class="form-group">
            <label for="title">Title</label>
            <input name="title" placeholder="Title" />

            <label for="platform">Platform</label>
            <select name="platform">
                {% for platform in platforms %}
                    <option value="{{platform.name}}">{{platform.name}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="numcopies">Number of Copies</label>
            <input name="numcopies" id="numcopies" type="number" class="number" />

            <label for="numboxed">Number of Boxed copies</label>
            <input name="numboxed" id="numboxed" type="number" class="number">

            <label for="nummanuals">Number of copies with manual</label>
            <input name="nummanuals" id="nummanuals" type="number" class="number">
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" />
            <input type="button" class="btn" value="Cancel" onclick="cancelEdit()" />
        </div>
    </form>
    <style type="text/css" scoped="scoped">
        input.number {
            width: 60px;
        }
    </style>
    <script type="text/javascript" src="/static/js/editgame.js" defer="defer"></script>
{% endblock %}