{%extends 'master.html'%}
        {%block content%}
        <h1>{{title}}</h1>
        <form class="form-horizontal" method="post" action="savehardware">
            <div class="form-group">
                <label for="name">Name</label>
                <input name="name" placeholder="Name" />

                <label for="platform">Platform</label>
                <select name="platform">
                    {% for platform in platforms %}
                        <option value="{{platform.name}}">{{platform.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="numowned">Number owned</label>
                <input name="numowned" id="numowned" type="number" class="number" value="1" min="0" />

                <label for="numboxed">Number of Boxed items</label>
                <input name="numboxed" id="numboxed" type="number" class="number" value="0" min="0" />
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary" />
                <input type="button" class="btn" value="Cancel" onclick="cancelEdit()" />
            </div>
        </form>
        <style type="text/css" scoped="scoped">
           e
        input.number {
            width: 60px;
        }
        </style>
        {%endblock%}