{% extends 'master.html' %}
{% block content %}
    <h1>{{title}}</h1>
        <form class="form-vertical" method="post" action="updateplatform">

             <div class="row">
                 <div class="form-group col-sm-10">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" value="{{platform.name}}" class="form-control"
                           required="required" />
                 </div>
             </div>

             <div class="row">
                 <div class="form-group col-sm-10">
                     <label for="description">Description</label>
                     <input type="text" name="description" id="description" class="form-control"
                            value="{{platform.description}}" />
                     <input type="hidden" id="id" name="id" value="{{platform.id}}" />
                 </div>
             </div>


             <div class="row">
                 <div class="form-group col-sm-3">
                    <input type="submit" class="btn btn-primary" />
                    <input type="button" class="btn" value="Cancel" onclick="cancelEditPlatform()" />
                    <input type="button" class="btn btn-danger pull-right" value="Delete" onclick="showDeleteConfirm()"/>
                 </div>
             </div>
        </form>
        <div class="hidden" id="deleteConfirm">
        Really delete this platform?
            <a href="javascript:deletePlatform();">Yes</a>&nbsp;|&nbsp;<a href="javascript:hideDeleteConfirm();">No</a>
        </div>
{% endblock %}