{% extends "master.html" %}

{% block content %}
        {% include 'status.html' %}
        <h1>{{title}}</h1>
         {% if hardware_found %}
         <form class="form-horizontal" method="post" role="form" action="updatehardware">

             <div class="row">
                 <div class="form-group col-sm-10">
                    <label for="name">Name</label>
                    <input id="name" name="name" value="{{hardware.name}}" type="text" required="required"
                           class="form-control" autofocus="autofocus" />
                 </div>
             </div>

             <div class="row">
                 <div class="form-group col-sm-10">
                    <label for="platform">Platform</label>
                    <select name="platform" id="platform" required="required" class="form-control">
                        {% for platform in platforms %}
                            {% if platform.name==hardware.platform %}
                                <option value="{{platform.name}}" selected="selected">{{platform.name}}</option>
                            {% else %}
                                <option value="{{platform.name}}">{{platform.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                 </div>
             </div>

             <div class="row">
                 <div class="form-group col-sm-3">
                    <label for="numcopies">Number Owned</label>
                    <input name="numcopies" id="numcopies" type="number" class="form-control"
                           value="{{hardware.num_owned}}" required="required" min="0"/>
                 </div>

                 <div class="col-sm-1"></div>

                 <div class="form-group col-sm-3">
                    <label for="numboxed">Number of Boxed Items</label>
                    <input name="numboxed" id="numboxed" type="number" class="form-control"
                           value="{{hardware.num_boxed}}" required="required" min="0"/>
                 </div>
             </div>

             <div class="row">
                 <div class="form-group col-sm-10">
                     <label for="notes">Notes</label>
                     <textarea class="form-control" id="notes" name="notes" rows="5">{{hardware.notes}}</textarea>
                 </div>
             </div>

             <div class="row">
                 <div class="form-group col-sm-3">
                    <input type="hidden" name="id" id="id" value="{{hardware.id}}" />
                    <input type="button" value="Save" class="btn btn-primary" onclick="updateHardware();" />
                    <input type="button" class="btn" value="Cancel" onclick="cancelEdit()" />
                    <input type="button" class="btn btn-danger pull-right" value="Delete" onclick="showDeleteConfirm()"/>
                </div>
             </div>
            <div id="deleteConfirm" style="display: none;" class="text-danger">
                Really delete this hardware?
                <a href="javascript:deleteHardware();">Yes</a>&nbsp;|&nbsp;<a href="javascript:hideDeleteConfirm();">No</a>
            </div>
        </form>
        {% endif %}

{% endblock %}