{% extends "master.html" %}
{% block content %}

{% include "status.html" %}
<h1 class="page-header">{{title}}</h1>

<form action="" role="form">
  <div class="row">
	 <div class="col-sm-12">
		<div class="form-group">
		  <label for="userid">User ID:</label>
		  <input class="form-control" type="text" id="userid" name="userid" value="{{user.user_id}}" />
		</div>
	 </div>
  </div>
  
  <div class="row">
	 <div class="col-sm-1">
		<button class="btn btn-primary" onclick="updateUser('{{user.id}}');return false;">Save</button>
	 </div>
	 <div class="col-sm-1">
		<button class="btn" onclick="cancelEdit();">Cancel</button>
	 </div>
	 <div class="col-sm-9"></div>
	 <div class="col-sm-1">
		<button class="btn btn-danger" onclick="showDeleteConfirm();return false;">Delete</button>
	 </div>
  </div>
</form>
<div id="deleteConfirm" style="display: none;" class="text-danger">
  Really delete this user? Their game and hardware collection will also be deleted.
  <a href="javascript:deleteUser('{{user.id}}');">Yes</a>&nbsp;|&nbsp;<a href="javascript:hideDeleteConfirm();">No</a>
</div>
{% endblock %}
