<table class="table table-striped">
    <thead>
       <tr>
           <th>
               {%if game_sort_field == "title" and game_sort_direction != "desc" %}
                    <a title="Sort by game title" href="?gamesort=title&gamesortdir=desc">Title</a>
               {% else %}
                    <a title="Sort by game title" href="?gamesort=title">Title</a>
               {% endif %}
           </th>
           <th>
               {% if game_sort_field == "platform" and game_sort_direction != "desc" %}
                    <a title="Sort by platform" href="?gamesort=platform&gamesortdir=desc">Platform</a>
               {% else %}
                    <a title="Sort by platform" href="?gamesort=platform">Platform</a>
               {% endif %}
           </th>
           <th>
               {% if game_sort_field == "numcopies" %}
                    <a title="Sort by number of copies" href="?gamesort=numcopies&gamesortdir=desc"># Copies</a>
               {% else %}
                    <a title="Sort by number of copies" href="?gamesort=numcopies"># Copies</a>
               {% endif %}
           </th>
           <th># Boxed</th>
           <th># Manuals</th>
           <th />
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td><a title="View game details">{{game.title}}</a></td>
            <td>
                <a title="See all games for {{game.platform}}" href="/allgames?platform={{game.platform}}">
                    {{game.platform}}
                </a>
            </td>

            <td>{{game.num_copies}}</td>
            <td>{{game.num_boxed}}</td>
            <td>{{game.num_manuals}}</td>
            <td><button class="btn" onclick="editGame('{{game.id}}')">Edit</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>