<table class="table table-striped">
    <thead>
       <tr>
           <th>
               {%if game_sort_field == "title" and game_sort_direction != "desc" %}
                    <a title="Sort by game title" href="?gamesort=title&gamesortdir=desc&{{query}}">Title</a>
               {% else %}
                    <a title="Sort by game title" href="?gamesort=title&{{query}}">Title</a>
               {% endif %}
           </th>
           <th>
               {% if game_sort_field == "platform" and game_sort_direction != "desc" %}
                    <a title="Sort by platform" href="?gamesort=platform&gamesortdir=desc&{{query}}">Platform</a>
               {% else %}
                    <a title="Sort by platform" href="?gamesort=platform&{{query}}">Platform</a>
               {% endif %}
           </th>
           <th>
               {% if game_sort_field == "numcopies" and game_sort_direction != "desc" %}
                    <a title="Sort by number of copies" href="?gamesort=numcopies&gamesortdir=desc&{{query}}">
                        # Copies
                    </a>
               {% else %}
                    <a title="Sort by number of copies" href="?gamesort=numcopies&{{query}}"># Copies</a>
               {% endif %}
           </th>
           <th># Boxed</th>
           <th># Manuals</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td><a title="View game details" onclick="editGame('{{game.id}}')" style="cursor: pointer;">{{game.title}}</a></td>
            <td>
                <a title="See all games for {{game.platform}}" href="/allgames?platform={{game.platform}}">
                    {{game.platform}}
                </a>
            </td>

            <td>{{game.num_copies}}</td>
            <td>{{game.num_boxed}}</td>
            <td>{{game.num_manuals}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>