{% extends 'master.html' %}

{% block content %}
<h2>{{title}}</h2>
<h3>My Genres</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {%for genre in genres %}
    <tr>
      <td>
        <a title="See all games for {{genre.description}}"
           href="/allgames?genre={{genre.name}}">{{genre.name}}</a>
      </td>
      <td>{{genre.description}}</td>
      <td><button class="btn" onclick="editGenre('{{genre.id}}')">Edit</button></td>
    </tr>
    {%endfor%}
  </tbody>
</table>

<h2 class="page-header">Add Genre</h2>
<form action="" method="post" role="form" class="form-horizontal">
  <div class="row">
	 
	 <div class="col-sm-5">
		<div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required="required" placeholder="Name" class="form-control" />
		</div>
	 </div>
    <div class="col-sm-2"></div>
	 
	 <div class="col-sm-5">
		<div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" id="description" placeholder="Description" class="form-control" />
		</div>
	 </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-3">
		<button class="btn btn-primary"
              onclick="addNewGenre(); return false;">Add
    </div>
  </div>
</form>

<h2 class="page-header">Suggested Genres</h2>
<div class="row">
  <div class="col-sm-12">
	 <table class="table table-striped">
		<thead>
		  <tr>
			 <th>Name</th>
			 <th>Description</th>
			 <th></th>
		  </tr>
		</thead>
		<tbody>
		  {%for genre in suggested_genres%}
		  <tr>
			 <td>{{genre.name}}</td>
			 <td>{{genre.description}}</td>
			 <td>
				<button class="btn btn-success" onclick="addGenre('{{genre.name}}', '{{genre.description}}')">
				  Add
				</button>
			 </td>
		  </tr>
		  {%endfor%}
		</tbody>
	 </table>
  </div>
</div>
{% endblock %}
