{% extends 'master.html' %}
{% block content %}
    <h1>{{title}}</h1>
    <h2>Games</h2>
    <table class="table table-striped">
        <thead>
           <tr>
               <th data-field="title">Title</th>
               <th>Platform</th>
               <th># Copies</th>
               <th># Boxed</th>
               <th># Manuals</th>
               <th />
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr>
                <td>{{game.title}}</td>
                <td>{{game.platform}}</td>
                <td>{{game.num_copies}}</td>
                <td>{{game.num_boxed}}</td>
                <td>{{game.num_manuals}}</td>
                <td><button class="btn" onclick="editGame('{{game.id}}')">Edit</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Hardware</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Platform</th>
                <th># Owned</th>
                <th># Boxed</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for h in hardware %}
            <tr>
                <td>{{h.name}}</td>
                <td>{{h.platform}}</td>
                <td>{{h.numowned}}</td>
                <td>{{h.numboxed}}</td>
                <td><input type="button" class="btn" value="Edit" onclick="editHardware('{{h.id}}')" /></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
