{%extends 'master.html' %}
{% block content %}
    <table class="table table-striped">
        <thead>
           <tr>
               <th data-field="title">Title</th>
               <th>Platform</th>
               <th># Copies</th>
               <th># Boxed</th>
               <th># Manuals</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr>
                <td>{{game.title}}</td>
                <td>{{game.platform}}</td>
                <td>{{game.num_copies}}</td>
                <td>{{game.num_boxed}}</td>
                <td>{{game.num_manuals}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}