{% extends 'master.html' %}
    {% block content %}

        <title>Login</title>
        <h1 class="form-header">Login</h1>
        {% include 'status.html' %}
        <form>
            <div class="container">
                {{ row([
						column('4'),
						column('4', text_field('userid', '', '', 'User ID')),
						column('4')
					 ]) }}

					 {{ row ([
						column('4'),
						column('4', password_field('password', '', 'Password')),
						column('4')
					 ]) }}
                <div class="row">
                    {{ column('4') }}
						  <div class="col-md-4">
							 <div class="form-group">
                        <input type="button" value="New User" class="pull-left btn" id="newuser" />
                        <input value="Login" class="pull-right btn-primary btn" type="submit" id="login" name="login" />
							 </div>
						  </div>
                    {{ column('4') }}
                </div>
            </div>
        </form>
    {% endblock %}
